/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
* {
  font-family: "Sora", sans-serif;
}

html {
  font-family: "Sora", sans-serif;
  font-size: 10px;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.master {
  background: #131517;
}

li a.nav-item-light {
  position: relative;
  color: var(--text-color-white, #f9f9f9);
  /* Paragraph/H6 heading 16px */
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.nav-item-light::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 20px;
  bottom: 0;
  background-color: rgb(28, 221, 157);
}

.btn {
  width: 110px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--text-color-dark-blue, #272633);
  background: #131517;
}
.btn span {
  text-align: center;
  background: var(--primary-color-leniar-color, linear-gradient(90deg, #eb9204 1.67%, #83e868 89.99%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Paragraph/H6 heading 16px */
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__main--nav-list {
  display: flex;
}
.header__main--nav-list li + li {
  margin-left: 36px;
}
.header__main--nav-list a {
  color: var(--text-color-gray-1, #858b93);
  /* Paragraph/H6 heading 16px */
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: color 0.3s;
}
.header__main--nav-list li:hover a {
  color: var(--text-color-white, #f9f9f9);
  /* Paragraph/H6 heading 16px */
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.hero {
  padding-top: 60px;
}

.hero__main {
  display: flex;
  justify-content: space-between;
}
.hero__main .hero__main--bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 9.1666666667%;
  height: 315px;
}
.hero__main .hero__main--center {
  width: 59.3181818182%;
  margin-top: 62px;
}
.hero__main .hero__main--center .hero__main--title-center {
  margin-bottom: 34px;
  color: var(--text-color-white, #f9f9f9);
  text-align: center;
  /* Heading/H1 Heading 60px */
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}
.hero__main .hero__main--center .hero__main--title-center .hero__main--strong-title {
  background: var(--primary-color-leniar-color, linear-gradient(90deg, #eb9204 1.67%, #83e868 89.99%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  border: rgb(229, 229, 229) 1px dashed;
}
.hero__main .hero__main--center .hero__main--title-decs {
  width: 447px;
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color-gray-1, #858b93);
  text-align: center;
  /* Paragraph/H5 heading 18px */
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.hero__main .hero__main--center .hero__main--action {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.hero__main .hero__main--center .hero__main--action .btn-active-default {
  width: 199px;
  height: 54px;
  border: none;
  border-radius: 8px;
  background: var(--text-color-gray-2, #282c30);
  box-shadow: 1px 8px 45px 0px rgba(0, 0, 0, 0.25);
}
.hero__main .hero__main--center .hero__main--action .btn-active-default span {
  color: var(--text-color-white, #f9f9f9);
  text-align: center;
  /* Paragraph/H5 heading 18px */
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.hero__main .hero__main--center .hero__main--action .btn-active-default.btn-lidergarient {
  border-radius: 8px;
  background: var(--primary-color-leniar-color, linear-gradient(90deg, #eb9204 1.67%, #83e868 89.99%));
}

/*# sourceMappingURL=main.css.map */
