.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__main--nav-list {
  display: flex;
  li + li {
    margin-left: 36px;
  }
  a {
    color: var(--text-color-gray-1, #858b93);
    /* Paragraph/H6 heading 16px */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */;
    transition: color 0.3s;
  }
  li:hover a {
    color: var(--text-color-white, #f9f9f9);
    /* Paragraph/H6 heading 16px */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}
