// PC
@media screen and (min-width: 968px) {
  .dashboard-mobile {
    display: none;
  }
  .dailyTask_main--circle-extra-btn-mobile {
    display: none;
  }
  .dailyTask__main-circle-extra-btn-mobile {
    display: none;
  }
  .dailyTask__main--circle-extra-design-action-icon-mobile {
    display: none;
  }
  .dailyTask__main--right-extra-mobile {
    display: none;
  }
  .main__product--desktop-all-img-block {
    display: none;
  }
  .main__support-btn {
    display: none;
  }
  .main__refreshing--feedback-next-mobile {
    display: none;
  }
  .main__refreshing--mobile {
    display: none;
  }
  .footer__mobile {
    display: none;
  }
}
// Tablet
@media screen and (max-width: 967.98px) and (min-width: 768px) {
  .dashboard-mobile {
    display: none;
  }
  .dailyTask_main--circle-extra-btn-mobile {
    display: none;
  }
  .dailyTask__main-circle-extra-btn-mobile {
    display: none;
  }
  .dailyTask__main--circle-extra-design-action-icon-mobile {
    display: none;
  }
  .dailyTask__main--right-extra-mobile {
    display: none;
  }
  .main__product--desktop-all-img-block {
    display: none;
  }
  .main__support-btn {
    display: none;
  }
  .main__refreshing--feedback-next-mobile {
    display: none;
  }
  .main__refreshing--mobile {
    display: none;
  }
  .footer__mobile {
    display: none;
  }
}
// Mobile
@media screen and (max-width: 767.98px) {
  /*Hero*/
  .hero__main {
    padding-bottom: 82px;
    justify-content: center;
  }
  .hero__main .hero__main--center {
    width: auto;
  }
  .hero__main .hero__main--center .hero__main--action {
    flex-direction: column;
    align-items: center;
  }
  .header__main--navigation {
    display: none;
  }
  .hero__main--left.hero__main--bubble {
    display: none;
  }
  .hero__main--right.hero__main--bubble {
    display: none;
  }
  .hero__main--strong-title {
    margin-left: -5px !important;
    border: 1px dashed #fff;
    background: var(
      --primary-color-leniar-color,
      linear-gradient(90deg, #eb9204 1.67%, #83e868 89.99%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
  }
  .hero__main--title-center {
    width: 297px !important;
    margin-bottom: 30px !important;
    margin-left: auto;
    margin-right: auto;
    color: #f9f9f9;
    text-align: center;
    font-size: 3rem !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal !important;
  }
  .btn-active-default {
    width: 143px;
    height: 39px;
    flex-shrink: 0;
    span {
      color: #f9f9f9;
      text-align: center;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .hero__main
    .hero__main--center
    .hero__main--title-center
    .hero__main--strong-title
    .hero__main--strong-extra-img-block- {
    &1 {
    }
    &2 {
      position: absolute;
      top: -6px;
      right: -6px;
    }
    &3 {
      position: absolute;
      top: 19px;
      right: -6px;
    }

    &4 {
      position: absolute;
      bottom: -5px;
      right: -5px;
    }
  }
  .hero__main--title-decs {
    display: none;
  }
  .dashboard {
    display: none;
  }
  .dashboard-mobile {
    padding-bottom: 80px;
  }
  .main__dashboard-mobile {
    width: 323px;
    height: 159px;

    margin-left: auto;
    margin-right: auto;
    .main__dashboard-mobile-img {
      width: 323px;
      height: 159px;
    }
  }
  .contact {
    padding-bottom: 80px;
    .contact__main {
      height: auto;
    }
    .contact__main .contact__main--list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .contact__main
    .contact__main--list
    .contact__main--item
    .contact__main--item-title {
    display: flex;
    justify-content: center;
    width: 199px;
    height: 25px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .contact__main
    .contact__main--list
    .contact__main--item
    .contact__main--item-decs {
    width: 208px;
    color: #767c85;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .contact__main .contact__main--list .contact__main--item {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
    width: auto;
  }
  .contact__main .contact__main--list .contact__main--item:last-child {
    margin-bottom: 56px;
  }
  .contact__main .contact__main--list .contact__main--item-line {
    margin-bottom: 33px;
    transform: 0;
  }

  .dailyTask__main {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    .dailyTask__main--list {
      display: inline-flex;
      justify-content: center;
      margin-bottom: 80px;
      border-radius: 9px;
      .dailyTask__main--item {
        position: relative;
        width: 104px;
        height: 98px;
        border-radius: 9px;
        background: #1c1f22;
        &::before {
          position: absolute;
          border-radius: 9px;
          content: "";
          background: linear-gradient(
            191deg,
            #c4f566 7.35%,
            #ae8ef9 28.41%,
            #ef8f00 60.81%,
            #61e559 100%
          );
          z-index: 1;
          bottom: 0;
          height: 0;
          width: 104px;
          transition: height 0.5s;
        }
        &:hover::before {
          top: 0;
          height: 100%;
        }
        .dailyTask__main--strong {
          color: #f9f9f9;
          text-align: center;
          font-size: 2rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .dailyTask__main--span {
          color: #767c85;
          text-align: center;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
  }
  .dailyTask__main
    .dailyTask__main--left
    .dailyTask__main--info
    .dailyTask__main--title {
    width: 279px;
    margin-bottom: 7px;
    color: #f9f9f9;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .dailyTask__main
    .dailyTask__main--left
    .dailyTask__main--info
    .dailyTask__main--decs {
    width: 290px;
    height: 129px;
    flex-shrink: 0;
    color: #9ea1a7;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
  }
  .dailyTask__main--right .dailyTask__main--circle-big {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    .dailyTask__main--circle-default {
      width: 177px;
      height: 177px;
      border-radius: 50%;
    }
    .dailyTask__main--circle {
      width: 110px;
      height: 110px;
      border-radius: 50%;
    }
  }
  .dailyTask__main--circle-extra-support {
    top: 25px;
    left: -40px;
    width: auto;
    height: auto;

    padding: 7.39px 9.5px 7.91px 10.02px;
    border-radius: 5px;
    background: #27292c;
    .dailyTask__main--circle-extra-span {
      margin-right: 23.74px;
      text-align: center;
      font-size: 0.7rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .dailyTask_main--circle-extra-btn {
      display: none;
    }
  }
  .dailyTask__main--circle-extra-exercitation-img {
    display: none;
  }

  .dailyTask__main--circle-extra-exercitation {
    top: 15px;
    right: -45px;
    padding: 10px 9.5px 5.8px 12.14px;
    border-radius: 5px;
    background: #27292c;
  }
  .dailyTask__main-circle-extra-btn {
    display: none;
  }
  .dailyTask__main--circle-extra-exercitation
    .dailyTask__main--circle-extra-exercitation-span {
    text-align: center;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .dailyTask__main--circle-extra-design {
    padding: 5.8px 9.5px 5.28px 9.5px;
    border-radius: 5px;
    background: #27292c;
    .dailyTask__main-circle-extra-span {
      text-align: center;
      font-size: 0.7rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .dailyTask__main-circle-extra-DTask {
    bottom: 40px;
    left: -80px;
    padding: 5.8px 9.5px 5.28px 9.5px;
  }
  .dailyTask__main-circle-extra-btn-mobile {
    margin-right: 7.94px;
  }
  .dailyTask__main-circle-extra-DTask
    .dailyTask__main--circle-extra-img-group
    .dailyTask__main--circle-extra-img-1
    img {
    width: 16.884px;
    height: 16.884px;
  }
  .dailyTask__main-circle-extra-DTask
    .dailyTask__main--circle-extra-img-group
    .dailyTask__main--circle-extra-img-2
    img {
    width: 16.884px;
    height: 16.884px;
  }
  .dailyTask__main-circle-extra-DTask .dailyTask__main-circle-extra-span {
    text-align: center;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .dailyTask__main--circle-extra-design {
    padding: 5.8px 9.5px 5.28px 15.83px;
    border-radius: 5px;
    background: #27292c;
  }
  .dailyTask__main--circle-extra-design
    .dailyTask__main--circle-extra-design-span {
    width: 26.909px;
    height: 9.497px;
    margin-right: 38.52px;
    text-align: center;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .dailyTask__main--circle-extra-design
    .dailyTask__main--circle-extra-design-action-icon {
    display: none;
  }
  .dailyTask__main--circle-extra-design {
    z-index: 2;
    right: 15px;
    bottom: 18px;
  }
  .dailyTask__main--circle-extra-design-action-icon-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.884px;
    height: 16.884px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #363a3e;
    img {
      width: 10.025px;
      height: 11.392px;
      flex-shrink: 0;
    }
  }
  .dailyTask__main--right-extra {
    display: none;
  }

  .dailyTask__main--right-img-block-mobile- {
    &1 {
      position: absolute;
      top: -5px;
      left: 55px;
      img {
      }
    }
    &2 {
      position: absolute;
      top: -15px;
      left: 150px;
    }
    &3 {
      position: absolute;
      top: 30px;
      right: 40px;
    }
    &4 {
      position: absolute;

      bottom: 10px;
      left: 30px;
    }
    &5 {
      position: absolute;
      bottom: 10px;
      left: 125px;
    }
    &6 {
      position: absolute;

      bottom: -25px;
      right: 65px;
    }
  }
  .features {
    .main__features {
      flex-direction: column;
      background: #191b1d;
    }
  }
  .main__features--line-group {
    width: 168.382px;
    height: 216.491px;
  }
  .main__features--left .main__features--left-circle {
    width: 152.918px;
    height: 152.918px;
  }

  .main__features--left {
    margin: 0px auto;
    width: auto;
  }
  .main__features--left-line-extra-1 {
    width: 116.264px;
    height: 35.509px;
    padding: 0;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.32);
    top: -17px;
    left: 7px;
    justify-content: center;
  }
  .main__features--left-line-extra-1 .main__features--left-line-span-1 {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 300% */
    background: linear-gradient(112deg, #f08d08 0%, #b88ed3 83.36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .main__features--left-line-extra-1 .main_features--left-line-extra-img-1 img {
    width: 20.618px;
    height: 20.618px;
    border-radius: 50%;
  }
  .main__features--left-line-extra-1 .main_features--left-line-extra-img-1 {
    margin-right: 9.15px;
  }
  .main__features--left-line-extra-3 {
    width: 136.882px;
    height: 35.509px;
    bottom: 75px;
    right: -60px;
  }
  .main__features--left-line-extra-2 {
    width: 126px;
    height: 35.509px;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.7);
    bottom: 60px;
    left: -70px;
  }
  .main__features--left-line-extra-mess {
    width: 82.473px;
    height: 37.227px;
    top: 60px;
  }
  .main__features--left-line-extra-2 .main__features--left-line-span-2 {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 300% */
    background: linear-gradient(90deg, #0cce84 0%, #ff2eb8 94.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .main__features--left-line-extra-mess::after {
    border-width: 10px;
    bottom: -19px;
  }
  .main__features--left-line-extra-mess
    .main__features--left-line-extra-mess-span {
    color: #f9f9f9;
    font-family: "Public Sans";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .main__features--left-line-extra-mess
    .main__features--left-line-extra-mess-decs {
    color: #f9f9f9;
    font-family: " Public Sans";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .main__features--left-line-extra-3 .main__features--left-line-span-3 {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 300% */
  }
  .main__features--line-group {
    column-gap: 20px;
  }
  .main__features--right {
    width: auto;
    padding-left: 15px;
  }
  .main__features--right .main__features--right-title {
    color: #f9f9f9;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .strong-hight-light {
    background: linear-gradient(180deg, #aeef51 42.19%, #ef8f00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .main__features--right-list {
    grid-template-columns: 219px;
    row-gap: 34px;
  }
  .product {
    padding-bottom: 46px;
  }
  .product__main .product__main--title {
    width: 209px;
    color: #f9f9f9;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
  }
  .product__main .product__main-desc {
    width: 268px;
    color: #858b93;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 233.333% */
  }
  .main__product--desktop-all {
    display: none;
  }
  .main__product--list {
    justify-content: center;
    grid-template-columns: 169px;
    row-gap: 26px;
  }
  .main__product--desktop-all-img-block {
    display: flex;
    justify-content: center;
  }
  .main__product--desktop-all-img-block img {
    width: 319px;
    height: 125px;
  }
  .main__product--list {
    width: auto;
  }
  .support {
    .main__support {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .main__support--list-left {
    width: auto;
  }
  .main__support--intro .main__support--title {
    width: 324px;
    color: #f9f9f9;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
  }
  .main__support--action {
    display: none;
  }
  .main__support--list {
    flex-direction: column;
  }
  .main__support--item-left {
    width: 318.599px;
    height: 102.107px;
    flex-shrink: 0;
    .main__support--item-left-cover {
      padding: 18.74px 49.6px 8.11px 26px;
      .main__support--item-left-desc {
        width: 243px;
        height: 47px;
        color: #858b93;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 220% */
      }
    }
  }
  .main__support--item-left
    .main__support--item-left-cover
    .main__support--item-left-title- {
    &1,
    &2,
    &3 {
      width: 138.296px;
      height: 22.619px;
      flex-shrink: 0;
      color: #f9f9f9;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &1 {
      &::before {
        top: 10px;
        left: 145px;
      }
    }
    &2 {
      &::before {
        top: 10px;
        left: 130px;
      }
    }
    &3 {
      &::before {
        top: 10px;
        left: 95px;
      }
    }
  }
  .main__support--list-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    .main__support--item-img-block-2 {
      transform: translate(0, 0);
    }
    .main__support--item-img-block-3 {
      transform: translate(0, 0);
    }
  }
  .main__support-btn {
    width: 135px;
    height: 42px;
    margin-top: 60px;
    border-radius: 9px;
    border: 2px solid #36383e;
    background: #131517;
    outline: 2px solid transparent;
    transition: outline 0.5s;
    &:hover {
      outline-color: #fff;
    }
    span {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 150% */
      background: linear-gradient(90deg, #ef8f00 0%, #6aea5c 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .light {
    width: 265px;
    height: 1px;
  }
  .refreshing {
    .main__refreshing--title {
      width: 314px;
      height: 117px;
      text-align: center;
      font-size: 3rem;
      font-style: normal;
      font-weight: 600;
      line-height: 40px; /* 133.333% */
    }
    .main__refreshing--list {
      flex-direction: column;
      align-items: center;
    }
  }
  .main__refreshing--feedback-next-mobile {
    display: flex;
    justify-content: flex-end;
    margin-right: 51px;
    margin-bottom: 30px;
  }
  .main__refreshing--feedback-next {
    display: none;
  }
  .main__refreshing--feedback--list {
    overflow: hidden;
  }
  .main__refreshing--mobile {
    display: flex;
    justify-content: space-between;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    .main__refreshing--dot-mobile {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #f9f9f9;
      opacity: 0.3;
      &.hight-light {
        background-color: #ef8f00;
        opacity: 1;
      }
    }
  }
  .footer {
    display: none;
  }
  .footer__mobile {
    padding-bottom: 49px;
  }
  .main__footer--mobile-title {
    margin-bottom: 27px;
    color: #495468;
    text-align: center;
    /* Heading/H4 heading 22px */
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 145.455% */
  }
  .main__footer--mobile-btn {
    display: block;
    width: 165px;
    height: 55px;
    border: none;
    margin-bottom: 77px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
    background: linear-gradient(96deg, #ed9102 0%, rgba(2, 237, 68, 0) 100%);
    span {
      color: #fff;
      text-align: center;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 155.556% */
    }
  }
  .main__footer--mobile-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .main__footer--mobile-form {
    position: relative;
    label {
      position: absolute;
      top: 3px;
      left: 145px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 15px;

      background: linear-gradient(96deg, #ed9102 0%, rgba(2, 237, 68, 0) 100%);
      border-radius: 50%;
      &::after {
        position: absolute;
        rotate: 46deg;
        transform: translate(-25% , 25%);
        content: "";
        width: 4px;
        height: 4px;
        background: transparent;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
      }
    }
  }
  .main__footer--mobile-input {
    border-radius: 26px;
    border: 1px solid #1c1e2f;
    background: transparent;
    &:focus {
      outline: none;
      border: none;
    }
    &::placeholder {
      padding: 3px 44px 4.57px 12px;
      color: #828282;
      font-family: "Poppins";
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 183.333% */
    }
  }
}
